# rust
*.tgz
*.zip
*.bz2
t.txt
model.py
__pycache__
build/
dist/
curs.egg-info
curs/__pycache__
curs/codeBERT/*
curs/tbcnn/*
target/
log/
src/snapshots/
.cache/
data_source.txt
data/
Cargo.lock
scripts/profiler.py
scripts/ram.py
src/snapshots/
# vscode extension
out
.vscode-test/
*.vsix
vendor/