*.tgz
*.zip
*.bz2
t.txt
model.py
__pycache__
build
dist
curs.egg-info
curs/__pycache__
curs/codeBERT/*
curs/tbcnn/*
target
vendor/
codeBERT_pl.bin
tbcnn/
*.code-workspace
log/
*.lock
src/snapshots/
curspy.py
.cache/